* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Lato", sans-serif;
  color: #eeeeee;
}


input {
  min-height: 40px;
  width: 60%;
  border: 2px solid #6543;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-left: 1rem;
}

.header {
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  
  /* text-transform: uppercase; */
}

.unit-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #85c88a;
}

.inner-container {
  background-color: #6fb2d2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 140vh;
  border-radius: 30px;
  text-align: center;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;

}

.unit-switcher {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #85c88a;
  width: 30vh;
  height: 40px;
  text-align: center;
  color: #eeeeee;
  border-radius: 0.5rem;
  border: #eeeeee;
}

.unit-switcher:hover {
  background-color: #ebd671;
  color: #eeeeee;
}


.result {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 5px;
}

.convert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  height: 18vh;
  font-weight: 600;
  font-size: 1.5rem;
}

.footer {
  font-size: 2rem;

}