body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: #F4EEFF;
}

input {
  height: 35px;
  width: 100%;
  background-color: #F4EEFF;
  
}

.header {
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  /* text-transform: uppercase; */
}

.unit-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right,#F4EEFF,#A6B1E1);
}

.inner-container{
background-color: #424874;
width: 120vh;
border-radius: 2rem;
height: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.selector{
  display: flex;
  justify-content: center;
  gap: 5%;
  padding-top: 5%;
}
.unit-switcher {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #F4EEFF;
  width: 30vh;
  height: 40px;
  text-align: center;
  color:#A6B1E1;
  border-radius: 0.5rem;
}

.unit-switcher:hover{
  background-color: #A6B1E1;
  color: #424874;
}


.result {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 5px;
}
.convert{
  font-weight: 600;
  font-size: 25px;
}
.footer{
  font-size: 2rem;
  
}
